<!-- <script type="text/javascript">
$(document).ready(function() {
  // Transition effect for navbar 
  $(window).scroll(function() {
    // checks if window is scrolled more than 500px, adds/removes solid class
    if($(this).scrollTop() > 100) { 
      $('.navbar').addClass('navbar-solid');
    } else {
      $('.navbar').removeClass('navbar-solid');
    }
  });
});
</script> -->

<header>
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary" id="mainNav">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="{{ '/' | relative_url }}">
        {%- if site.title -%}
        {{ site.title | escape }}
        {%- endif -%}
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        {% for item in site.header_pages %}
          {% if item.dropdown %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if item.icon %}
              <i class="{{ item.icon }}"></i>
              {% endif %}
              {{ item.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for subitem in item.dropdown %}
              <a class="dropdown-item" href="{{ subitem.link }}">
                {% if subitem.icon %}
                <i class="{{ subitem.icon }}"></i>
                {% endif %}
                {{ subitem.name }}
              </a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            {%- assign my_page = site.pages | where: "path", item.path | first -%}
            <a class="nav-link" href="{{ my_page.url | relative_url }}">
              {%- if item.icon -%}
              <i class="{{ item.icon }}"></i>
              {%- endif -%}
              {{ item.name }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
