body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #123;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6,
th {
  color: #223;
  font-weight: 400;
}

any(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
}

h1 {
  font-size: xx-large;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #33a;
}

a:hover {
  color: #22f;
}

article {
  width: 95%;
  max-width: 1000px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  margin: 1em auto auto auto;
}

article nav ul {
  width: fit-content;
  margin: auto;
}

blockquote {
  background: #edffff;
  line-height: 1.42;
  padding: .5em 1em;
  width: 75%;
}

button {
  background-color: #fff;
  border-radius: 0.42rem;
}
button:hover {
  box-shadow: 0px 0px 5px #22a;
}

body > header {
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 0px 5px #88A;
  width: 100%;
}

figcaption {
  text-align: center;
}

footer {
  font-size: smaller;
  margin: 2px auto;
  text-align: center;
}
footer div {
  padding: 0.42rem;
}

main, footer {
  width: 80%;
  max-width: 1024px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  padding: .5em 1em;
  background-color: #18354c;
}

/* Inset, by Dan Eden -- https://css-tricks.com/examples/hrs/ */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

li {
  margin-bottom: .25em;
  margin-right: 2em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  max-width: 350px;
  padding: 0;
  overflow: hidden;
  flex-grow: 10;
}

nav li {
  align-items: flex-end;
  display: flex;
  margin: 2px;
  padding: 0.25em 0.5em;
}

header nav a {
  color: #fff;
  vertical-align: middle;
}

main {
  min-height: 100%;
  margin: 0 auto auto auto;
  flex-grow 8;
}

pre {
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #eee;
  margin: auto;
  overflow: auto;
  padding: 0.5em;
  width: 95%;
}

th {
  padding: 0.42rem 1rem 0.42rem 0;
  text-align: left;
}

time {
  white-space: nowrap;
  padding-right: 1em;
}

a[rel="license"] img {
  height: 1rem;
  vertical-align: middle;
}

body > header a[rel="home"] {
  display: block;
  min-width: 66vw;
  font-size: large;
  margin: auto;
  padding: 0.25rem;
}

#logo {
  height: 1.3rem;
  vertical-align: bottom;
  padding-right: .25rem;
}

.active a {
  color: #ffe873;
  font-weight: 500;
}

.anchor-link {
  visibility: hidden;
}

.bio {
  background: #def;
  border-radius: 5px;
  font-size: smaller;
  margin: auto;
  max-width: 600px;
  padding: 1em;
}

.bio a {
  line-height: 1.42em;
  text-decoration: underline;
}

.disabled {
  color: #999;
  font-weight: 200;
}

.twitter-tweet {
  display: block;
  max-width:60%;
  min-width:250px;
  margin:auto;
}

.grow-link {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.inline-image {
  height: 1.6em;
  padding: 0 .2em;
  vertical-align: middle;
}

.light-italic {
  color: #777;
  font-style: italic;
}

.light-sans, .metadata {
  color: #888;
  font-weight: 300;
}

.metadata {
  font-size: smaller;
  margin: .2em 0 0 0;
  text-align: right;
  width: fit-content;
}

.metadata + h1 {
  margin-bottom: .25em;
}

.more {
  font-variant-caps: all-small-caps;
  margin-bottom: .42em;
}

.more a::after {
  content: " ⇨";
}

.output_html {
  overflow-x: scroll;
}

.output_stderr pre {
  border: none;
  border-radius: unset;
  background-color: #fee;
  width: 95%;
}

.output_stdout pre,
.output_text pre {
  border: none;
  border-radius: unset;
  background-color: #fff;
  width: 95%;
  max-height: 8em;
  overflow-y: auto;
}

.output_stdout pre:hover,
.output_text pre:hover {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.postindex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.postindex article {
  margin-bottom: 0;
  min-width: 25%;
  max-width: 85%;
  width: 42%;
  flex: 1 1 auto;
}

.postindex article img {
  max-width: 85%;
  border-radius: 15px;
}

.postindex ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}

.postindex li {
  display: inline;
}

.postlist, .projectlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.postlist div {
  width: fit-content;
}

.postlist li {
  display: flex;
  margin-bottom: .1em;
}

.postpromonav {
  margin: 1em auto;
  text-align: center;
}

.postpromonav div {
  line-height: 1px;
  margin: 5px;
}

.postpromonav ul {
  font-size: smaller;
  max-width: unset;
}

.projectlist {
  75%;
  max-width: 900px;
}

.projectlist div {
  width: calc(100% - 120px);
}

.projectlist h1,
.projectlist h2,
.projectlist h3 {
  margin: 0;
}

.projectlist img {
  border: 1px solid #22a;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray;
  display: block;
  margin-right: 1em;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.projectlist li {
  background: #e0f0ff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
  display: flex;
  padding: 1em;
  position: relative;
  margin: .75em auto;
}

.projectlist li:hover {
  background: #daebff;
}

.projectlist li:active {
  background: #cdf;
  box-shadow: 1px 1px 1px gray;
}

.red {
  color: #900;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

.tags li {
  background: #eee;
  border-radius: 3px;
  padding: 2px 6px;
  margin: 2px;
}

.tags li:hover {
  /*background: #cce;*/
}

.vocabulary {
  background: #dffff2;
}

.vocabulary:hover {
  cursor: help;
}

#blog-title {
  fill: #fff;
  font-weight: 200;
}

#blog-title:hover {
  fill: #22e;
}


/** -------------------------------
 * Cellphone
 */
@media (max-width: 648px) {
  article {
    margin: auto;
  }

  .postlist li {
    flex-wrap: wrap;
    margin-bottom: .5em;
  }

  .postlist div {
    width: 100%;
  }
}


/** -------------------------------
 * Print
 */
@media only print {
  .hidden-print {
    display: none;
  }
}


/** -------------------------------
 * Jupyter
 */
.hidden {
  display: none;
}

.prompt {
  display: none;
}

.prompt[role="button"] {
  display: initial;
  font-size: small;
}

.prompt[role="button"] {
  color: #008;
}

.prompt[role="button"]:active,
.prompt[role="button"]:focus {
  color: #339;
  font-weight: 300;
}

.prompt[aria-pressed="false"]::after {
  content: " ▷";
}

.prompt[aria-pressed="true"]::after {
  content: " ▽";
}

.rendered_html {
  color: #000;
  padding: 1em;
  /* any extras will just be numbers: */
}

.rendered_html p {
  text-align: left;
}

.rendered_html ul {
  margin: 0 0 12px 25px;
}

.rendered_html em {
  font-style: italic;
}
.rendered_html strong {
  font-weight: bold;
}
.rendered_html u {
  text-decoration: underline;
}

.rendered_html table {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 12px;
  table-layout: fixed;
}
.rendered_html thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}
.rendered_html tr,
.rendered_html th,
.rendered_html td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
.rendered_html th {
  font-weight: bold;
}
.rendered_html tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.rendered_html tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
.rendered_html * + table,
.rendered_html * + img,
.rendered_html * + ol,
.rendered_html * + ul,
 {
  margin-top: 1em;
}

.rendered_html img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rendered_html img,
.rendered_html svg {
  max-width: 100%;
  height: auto;
}
.rendered_html img.unconfined,
.rendered_html svg.unconfined {
  max-width: none;
}
div.output_area .rendered_html table {
  margin-left: 0;
  margin-right: 0;
}
div.output_area .rendered_html img {
  margin-left: 0;
  margin-right: 0;
}
div.output_area img,
div.output_area svg {
  max-width: 100%;
  height: auto;
}
div.output_area img.unconfined,
div.output_area svg.unconfined {
  max-width: none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/tech-meeting-flatlay_4460x4460.jpg");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text, .hero-text h1 {
  color: white;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/*
Syntax Highlighting section
copied from James Warwood
https://github.com/jwarby/jekyll-pygments-themes
*/
.code .hll { background-color: #ffffcc }
.code .c { color: #408080; font-style: italic } /* Comment */
.code .err { border: 1px solid #FF0000 } /* Error */
.code .k { color: #008000; font-weight: bold } /* Keyword */
.code .o { color: #666666 } /* Operator */
.code .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.code .cp { color: #BC7A00 } /* Comment.Preproc */
.code .c1 { color: #408080; font-style: italic } /* Comment.Single */
.code .cs { color: #408080; font-style: italic } /* Comment.Special */
.code .gd { color: #A00000 } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gr { color: #FF0000 } /* Generic.Error */
.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code .gi { color: #00A000 } /* Generic.Inserted */
.code .go { color: #808080 } /* Generic.Output */
.code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code .gt { color: #0040D0 } /* Generic.Traceback */
.code .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.code .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.code .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.code .kp { color: #008000 } /* Keyword.Pseudo */
.code .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: #B00040 } /* Keyword.Type */
.code .m { color: #666666 } /* Literal.Number */
.code .s { color: #BA2121 } /* Literal.String */
.code .na { color: #7D9029 } /* Name.Attribute */
.code .nb { color: #008000 } /* Name.Builtin */
.code .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.code .no { color: #880000 } /* Name.Constant */
.code .nd { color: #AA22FF } /* Name.Decorator */
.code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.code .nf { color: #0000FF } /* Name.Function */
.code .nl { color: #A0A000 } /* Name.Label */
.code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.code .nv { color: #19177C } /* Name.Variable */
.code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.code .w { color: #bbbbbb } /* Text.Whitespace */
.code .mf { color: #666666 } /* Literal.Number.Float */
.code .mh { color: #666666 } /* Literal.Number.Hex */
.code .mi { color: #666666 } /* Literal.Number.Integer */
.code .mo { color: #666666 } /* Literal.Number.Oct */
.code .sb { color: #BA2121 } /* Literal.String.Backtick */
.code .sc { color: #BA2121 } /* Literal.String.Char */
.code .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.code .s2 { color: #BA2121 } /* Literal.String.Double */
.code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.code .sh { color: #BA2121 } /* Literal.String.Heredoc */
.code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.code .sx { color: #008000 } /* Literal.String.Other */
.code .sr { color: #BB6688 } /* Literal.String.Regex */
.code .s1 { color: #BA2121 } /* Literal.String.Single */
.code .ss { color: #19177C } /* Literal.String.Symbol */
.code .bp { color: #008000 } /* Name.Builtin.Pseudo */
.code .vc { color: #19177C } /* Name.Variable.Class */
.code .vg { color: #19177C } /* Name.Variable.Global */
.code .vi { color: #19177C } /* Name.Variable.Instance */
.code .il { color: #666666 } /* Literal.Number.Integer.Long */
