/** Basic styling */
body {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0.6rem 1rem;
}

.navbar i {
    padding-right: 0.15rem;
}

.jumbotron {
    padding: 1.8rem
}

.jumbotron img {
    width: 100%;
    max-width: 18rem;
    height: auto;
}

.post-listing {
    margin-bottom: 30px;
}

.post-listing a {
    color: white;
}
.post-listing a:hover { color: #F6127D !important; }

.post-listing a:hover, a:visited, a:active { text-decoration: none; }

.post img {
    background-color: white;
    padding: 5px;
    max-width: 100%;
    height: auto;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main {
    display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
    padding-top: 80px;
    padding-bottom: 60px;
}

/* * Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

h1 { font-size: 2.7rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.4rem; }

/* Block Quotes */
blockquote {
    /* font: 14px/22px normal helvetica, sans-serif; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 0.15px solid #ccc;
}

blockquote p {
    font-style: italic;
}

/** Site footer */
footer {
    font-size: 0.95rem;
}

footer a {
    color: inherit;
}

/** Code formatting */
pre, code {
    font-size: 15px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}

pre > code {
    padding-right: 0;
    padding-left: 0;
}

.highlight {
    border-radius: 0.3rem;
}

/* Comments */
#gh-comments-list div.media-body {
    overflow-x: auto;
}
