## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="post_helper" file="post_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="require" file="require_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}\
    % if posts and (permalink == '/' or permalink == '/' + index_file):
        <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
    % endif
    ${math.math_styles_ifposts(posts)}\
    ${require.require_script_ifposts(posts)}
</%block>

<%block name="content">
<%block name="content_header">
    ${feeds_translations.translation_link()}\
</%block>
% if 'main_index' in pagekind:
    ${front_index_header}\
% endif
% if page_links:
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}\
% endif
<div class="postindex">
% for post in posts:
    <article class="h-entry post-${post.meta('type')}">
    % if post.meta('previewimage'):
      <img src="${post.meta('previewimage')}" alt="article thumbnail">
    % elif post.meta('category') in data['default_thumbnails']:
      <img src="${data['default_thumbnails'][post.meta('category')]}" alt="article thumbnail">
    % else:
      <img src="${data['default_thumbnails']['']}" alt="article thumbnail">
    % endif
    <h3 class="p-name entry-title"><a href="${post.permalink()}" class="u-url">${post.title()|h}</a></h3>
    <span class="metadata">
        <time datetime="${post.formatted_date('webiso')}">${post.formatted_date(date_format)|h}</time>
        <i class="fas fa-tags"></i>
        ${post_helper.html_tags(post)}
    </span>
    <!--
    %if index_teasers:
    <div class="p-summary entry-summary">
    ${post.text(teaser_only=True)}\
    <hr/>
    %else:
    <div class="e-content entry-content">
    ${post.text(teaser_only=False)}\
    %endif
    </div>-->
    </article>
%endfor
</div>
${helper.html_pager()}\
${comments.comment_link_script()}\
${math.math_scripts_ifposts(posts)}\
</%block>
