---
layout: default
---


{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

<div class="jumbotron">
  <img src="{{ '/assets/img/logo_v2.png' | relative_url }}" class="mx-auto d-block" alt="">
  <!-- <h1 class="display-4">Hello, world!</h1> -->
  <p class="lead text-center">{{ site.description }}</p>
  <hr class="my-4">
  <div class="col text-center">
  <a class="btn btn-primary btn-lg" href="{{ 'about' | relative_url }}" role="button">Learn more</a>
</div>
</div>

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}


{%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2>{{ page.list_title }}</h2>
  {%- endif -%}
  
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}
  <div>
    <span class="text-muted">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    <hr class="my-4">
  </div>
  {%- if site.show_excerpts -%}
    {{ post.excerpt }}
  {%- endif -%}

  <!-- TODO: implement tags -->
  <!-- {%- if post.tags.size > 0 -%}
  <p>
  {%- for tag in post.tags -%}
  {{ tag | downcase }} 
  {%- endfor -%}
  </p>
  {%- endif -%} -->

  {%- endfor -%}

  {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
      {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
        <li><div class="current-page">{{ paginator.page }}</div></li>
      {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
      </ul>
    </div>
  {%- endif %}
  <a class="btn btn-primary btn-lg" href="{{ 'feed.xml' | relative_url }}" role="button"><i class="fa fa-rss"></i> Subscribe</a>
{%- endif -%}
