---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-12 col-md-11 col-lg-9 col-xl-8 mx-auto">
      <h1 class="post-title">{{ page.title | escape }} </h1>
      <div class="row">
        <!-- Date & Author -->
        <div class="col-sm-5">
          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          <span class="text-muted text-nowrap">{{ page.date | date: date_format }}{% if page.author %} by {{ page.author | escape }}{% endif %}</span class="text-muted">
        </div>
        <!-- Buttons -->
        <div class="col">
          <div class="btn-group btn-group-toggle float-sm-right" data-toggle="buttons">
            <a class="btn btn-outline-primary btn-sm text-nowrap" href="https://github.com/{{site.github_username}}{{site.baseurl}}/edit/master/{{page.path}}" role="button">
              <i class="fa fa-pencil"></i> Edit Page
            </a>
            {% if page.link %}
            <a class="btn btn-outline-primary btn-sm text-nowrap" href="{{ page.link }}" role="button">
              <i class="fa fa-link"></i> Problem Source
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <hr class="my-3 bg-primary">
      <div class="post">
      {{ content }}
      </div>


    <div id="gh-comments">
        <br/><br/>
        <h2>Comments</h2>
        <!-- <div id="gh-comments-list"></div> -->
        <ul id="gh-comments-list" class="list-unstyled"></ul>
        <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none">Load more comments</a>
    </div>

    <script src="{{ '/assets/github_comments.js' | relative_url }}"> </script>

    <script type="text/javascript"> 
        ShowComments ( 
            "{{site.github_username | append: site.baseurl}}" , 
            "{{ page.gh_comments_issue_id }}" 
        ); 
    </script>

    </div>
  </div>


</div>




